Define interop or at least general relation to `groups` claim from RFC 7643 SCIM and RFC 9068 JWT Profile for Access Token 

I'm researching current standard and best practices for OAuth 2.0 and OIDC for implementing SSO, and came across this spec while testing with Keycloak. 

In [interoperability.asciidoc](https://github.com/eclipse/microprofile-jwt-auth/blob/main/spec/src/main/asciidoc/interoperability.asciidoc) you define the claim `groups` and mention the IANA registry for JWT claims, but that registry [already contains a definition for `groups`](https://www.iana.org/assignments/jwt/jwt.xhtml#:~:text=Section%202.2.3.1%5D-,groups,-Groups) which has been registered by a different specification, namely [RFC 9068 JSON Web Token (JWT) Profile for OAuth 2.0 Access Tokens](https://datatracker.ietf.org/doc/rfc9068/) which reuses [RFC 7643 System for Cross-domain Identity Management: Core Schema](https://datatracker.ietf.org/doc/rfc7643/). And most importantly, the format is not the same as yours, but rather defined as a complex type including both id value and display value, as can be seen in the example in [section 8.2 of RFC 7643](https://www.rfc-editor.org/rfc/rfc7643.html#section-8.2).

You should probably amend your reference to the IANA registry to at least state that your version of the `groups` claim is not the same as the one that is officially registered. Ideally you would want to change your specification to use a prefixed claim (or adopt the registered version's format), but it's probably way too late for that? I thought I should at least notify you of this, I'm not depending on any action from you in this matter and leave it up to the maintainers to discuss further and make decisions.

@MHHenriksen Apologies for a delay. There is no relationship between this specification and RFC 7643. The `groups` defined elsewhere is not going to be used in isolation but in scope of the SCIM requests which have nothing to do with the bearer access token requests this specification supports. 
I can't imagine a real world situation happening any time soon where a target these two claims will cause a conflict.