Need better clarify the Minimum MP-JWT Required Claims

MP-JWT defines a set of "Minimum MP-JWT Required Claims". But it does not explicitly specify what is the "required" means. Do we mean JWT must contain all claims? or MicroService must support this set of claims if they are included in JWT?  Maybe we should clarify which claims must be included, and which claim must be supported?
For example, if user does not belong to any group, do we want to accept the JWT? or if token replay is allowed, does JWT has to contain "jti"?

Just adding a +1 on this one as this has recently come up adding JWT support to the WildFly application server.

Within the spec of the "required" claims 'upn' is the one claim that has a description of how it is optional so if optional why listed with required claims?

Testing making the full set mandatory causes the TCK to fail so I believe at this stage even the TCK does not present the complete "required" set.

On the next iteration of spec development I think it would be good if the minimal set could be re-clarified and double check the expected behaviour when optional claims are missing.

Related to this an issue was also raised in relation to the groups claim being "required" https://github.com/eclipse/microprofile-jwt-auth/issues/129 

Given the set of required claims at https://github.com/eclipse/microprofile-jwt-auth/blob/master/spec/src/main/asciidoc/interoperability.asciidoc, IMHO the following should be done:
- drop `kid` - it is not even a claim, and requiring the token providers to set a `kid` of the private key which may not be even in the JWK set is incorrect or may expose an internal key alias
- make `upn` optional - lots of token don't have it
- make `groups` optional - lots of tokens don't have or use other claims for it, and the decision as to what to do with a an empty roles Principal should be up to the local RBAC policy

It is very important IMHO that MP JWT interoperates with as many providers as possible, hence making `upn` and `groups` optional would be good IMHO

I'm wondering if the spec shouldn't be more "loose" in the sense of not requiring any particular claim, like the upn or groups (can't remember if there are others) and then provide a way to set by configuration the claims that should be required, so users can fine tune the validation of their JWT.

Some like `exp` or `issuer` and few others are indeed needed, but this list should be as minimum as realistically possible

An interesting thing is that we require `iss` to be mandatory:

> 3. The JWT signer must have a public key that maps to an MP-JWT implementation container runtime
configured value. Any public key other than those that have been whitelisted by the container
configuration must be rejected with an HTTP_UNUATHENTICATED(401) error.

And when we reference `iss` we link to the JWT RFC:

> iss
The MP-JWT issuer. RFC7519, Section 4.1.1

That clearly says that `iss` is optional:

> 4.1.1.  "iss" (Issuer) Claim

   The "iss" (issuer) claim identifies the principal that issued the
   JWT.  The processing of this claim is generally application specific.
   The "iss" value is a case-sensitive string containing a StringOrURI
   value.  Use of this claim is OPTIONAL.

Above it even says:

> The following Claim Names are registered in the IANA "JSON Web Token
   Claims" registry established by Section 10.1.  None of the claims
   defined below are intended to be mandatory to use or implement in all
   cases, but rather they provide a starting point for a set of useful,
   interoperable claims.

Including `iss`, `sub`, `aud` and `exp`.

I think we need to look into this and most likely align the spec with the RFC.

@radcortez The JWT spec is a base spec to support a variety of requirements involving JWT and this is why it is all optional there. MP JWT is a higher level spec which builds upon it. Accepting the token with `iss` or `exp` or indeed without the `aud` is not sound from a security point of view, though the `aud` has gone now from the required set if claims.

I know, but my comment was more in the sense that maybe we could provide configuration to turn on / off required claims and make this more flexible. Well, implementors can always chose to do that, the question here is if this should be supported at the spec level.

In general it is good to be flexible but the spec should have some 'opinion' :-), but there should good practical reasons IMHO behind relaxing the requirements. The only problem with the current set I've seen are around `groups` which we will relax on, and `exp` - which, it is optional, in most cases, will make the applications exposed to anything...The issue is really about the minimum set and we propose we discuss what and what not should become optional beyond what is already proposed (`groups`) in the case by case basis 

`upn` can be optional, but either, `upn`, `sub`, or `preferred_username` should have a value.

`exp` must stay as otherwise we allow for tokens which basically are valid forever which is a security risk. (if they want tokens which are valid forever then they can put next millennium in the exp value)

`kid` might be optional, but should be defined as it is required for the rotating key concept which should be encouraged.

Unfortunately, there are many weird JWT tokens out there :)

At some point I was working with a GW that was placing the username in a non standard claim. We were to handle the issue, by implementing a config in SmallRye to allows us to specify the claim we wanted to use for the username.

I think we could keep `iss` and `exp` and the only required claims. Everything else make it optional and even configurable to handle these weird cases.

@rdebusscher sounds good, but as I noted it may not be even JWK from a set that is used to verify a token, hence if it is a local PEM file then requiring a `kid` won't do anything. It is a best practice indeed to have `kid` though with JWK sets and perhaps we should tweak text a bit.

Did we reach any consensus here?

I suspect on this one we would be better preparing a list of all claims, declaring them all as either mandatory or optional and then any where there is a disagreement can be discussed further.


> I think we could keep iss and exp and the only required claims. Everything else make it optional and even configurable to handle these weird cases.

+1!

As a minimum, we need to made `upn` and `groups` as optional because MP JWT introduces these claims.

Hi All, IMHO we really should be a bit more careful with just allowing everything in but I agree about `upn` and `groups`. 
PR for making `groups` optional is now open. 
`upn` is actually optional - it is listed in the required set because essentially what is required there is that a named principal must be available at the end (either via `upn` or listed fallbacks) and I've spent may be 30 mins on trying to move it somewhere else but all this text modifications are starting getting at me now :-) and urgently need to do some coding :-). I'll do another iteration a bit later to make it clearer and collapse the `sub` and `upn` sections.

The headers `typ`, `alg` and `kid` obviously must be there, `kid` may be optional if no JWKs are used. `typ` is not that super important but we just need to be encouraging a good practice, it is super easy to add this header.
`iat` should really be there and stay - without it may be that the token has been around for a year, no way to enforce a usage time limit. 
`jti` should really be there - perhaps it can be `recommended`

I think Mike Edgar @MikeEdgar created an issue to do with required claims properties when one can list what is required.

But it is too tight for 1.2, otherwise we will end up releasing it in May and there will be no time for 2.0 work at all for it to make it to MP 4.0

>iat should really be there and stay

yes, but the `exp` claim is much more important.

For each claim I think there are two questions: -

1. Must the issuer of the token include that claim in the token.
2. Where a claim is present in the token must the MP JWT implemented process it.

As this specification is in relation to being the recipient of the claims I don't believe this specification should be mandating the contents created by the issuers.

However I do believe if a claim is present then it is the scope of this specification to mandate that it is correctly processed.
